*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(146, 218, 198);
}

.container{
    width: 30vw;
    height: 80vh;
    background-color: rgb(70, 66, 177);
    margin: 30px auto;
    box-shadow: 5px 0 0 beige, 10px 0 0 rgb(124, 124, 123);
    overflow: auto;
}

.input, .header{
    display: flex;
    justify-content: center;
}

.header{
    color: beige;
}

.input_task{
    width: 20rem;
    height: 2.5rem;
    border-radius: 10px;
    box-shadow: 5px 2px 5px black;
}    

.list_Task{
    list-style: none;
    color: beige;
    padding-top: 15px;
    padding-left: 15px;
}

.add_Task{
    padding-top: 10px;
    border-bottom: 0.5px solid rgb(172, 167, 167);
    position: relative;
}

.task_icon{
    position: absolute;
    right: 1px;
    opacity: 0;
    text-align: end;
}

.add_Task:hover{
    .task_icon{
        opacity: 50%;
    }
}

